.cream {
    background-color: #ffffcc;
}

.grey {
	background-color: grey;

}



.salmon {
    background-color: #ff6666;
}

.pale_red {
	background-color: #ff3333;
}



.pale_violet {
    background-color: #b266ff;
}

.vivid_violet {
	background-color: #8b1aff;
}



.pale_cyan {
    background-color: #ccffff;
}

.cyan {
	background-color: #00e5e6;
}

.vivid_blue {
	background-color: #3384ff;
}



.pale_yellow {
    background-color: #ffff66;
}

.dark_yellow {
	background-color: #e6ae00;
}