
body {
    background-color: #3f4042;
    overflow-x: hidden;
}


/*header*/
header {
    background-color: #33ccff;
	margin-bottom: 3px;
}

header img {
    margin-right: 10px;
}

h3{
    display:inline-block;
    line-height:50px;
    color: white;
}

.right{
    float: right;
    padding-right: 10px;
    vertical-align: middle;
}


/*main*/

main {
    margin-left:-15px;
    margin-right:-15px;
}
.little {
	display: flex;
    height: 224px;
	border: 3px solid #3f4042;
}


.large {
	display: flex;
    height: 448px;
	border: 3px solid #3f4042;
}

.image {
    margin: auto;
    height: 100px;
	display: inline-block;
}


.image_large {
    margin: auto;
    height: 200px;
	display: inline-block;
}


/*bannière*/

.banniere {
    position: absolute;
    bottom: 0px;
	left: 0px;
    height:40px;
	width: 100%;
    color: white;
	font-weight: bold;
	padding-left: 10px;
}

.left {
    position: absolute;
    float:left;
    height: 40px;
    top: 10px;
}

.arrow_right {
    float: right;
    position: absolute;
    right:10px;
    bottom:4px;
	height: 30px;
}

