body {
    background-color: black;
}

h3{
    display:inline-block;
    line-height:50px;
    color: white;
}

.container-fluid
{
    margin-left:-15px;
    margin-right:0px;
}

[class*="col-"] {
    margin: 0px;
    padding: 0px;
    position: relative;
}


.right{
    float: right;
    margin-right: 10px;
    vertical-align: middle;
}


.row {
    margin-right: 0px;  
    margin-left: 0px;
    position: relative;
}

header {
    background-color: #33ccff;
}

header img {
    margin-right: 10px;
}

.banniere {
    position: absolute;
    bottom: 0;
    height:40px;
    width: 98.9%;
    background-color: grey;
    color: white;
    padding: 13px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: bold;
}

.leaderboard {
    height: 385px;
    display: flex;
    background-color: white;    
}

.entertainment {

    display: flex;
    height: 260px;
    background-color: #ff6666;
}

.sport {
    display: flex;
    height: 260px;
    background-color: #9933ff;
}

.food {
    display: flex;
    height: 260px;
    background-color: #ccffff;
}

.knowledge {
    display: flex;
    height: 260px;
    background-color: #ffff66;
}

.geography {
    display: flex;
    height: 385px;
    background-color: #ff6666;
}

.history {
    display: flex;
    height: 210px;
    background-color: #00ffff;    
}

.science {
    display: flex;
    height: 210px;
    background-color: #ffff66;        
}

.movies {
    display: flex;
    height: 210px;
    background-color: #9933ff;        
}

.music {
    display: flex;
    height: 210px;
    background-color: #00ffff;        
}

.profile {
    display: flex;
    height: 210px;
    background-color: #ffffcc;        
}

.image {
    display: block;
    margin: auto;
}

p {
    padding: 3px;
    margin: 3px;
}

.arrow_right {
    float: right;
    position: absolute;
    right:10px;
    bottom:4px;
}